#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;

  background-position: 100% 100%;
  /* background-image: linear-gradient(#f9fafd,#e9ebfc, #e1e4fb); */
}

@media screen and (min-width: 850px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 80%;
    overflow: hidden;
  }
}
@media screen and (max-width: 850px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
  }
}

.swiper-slide img {
  display: block;
  width: 100% !important;
}

.swiper-slide p {
  transform: translateY(-30px);
  opacity: 0;
}
.swiper-slide a {
  transform: translateY(30px);
  opacity: 0;
}

.swiper-slide-prev p {
  transition: all 0.5s ease;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  opacity: 0;
}
.swiper-slide-prev a {
  transition: all 0.3s ease;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  opacity: 0;
}

.swiper-slide-active p {
  transition: all 1s ease;
  transition-delay: 2s;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.swiper-slide-active a {
  transition: all 1s ease;
  transition-delay: 2s;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
